* {
    padding: 0px;
    margin: 0px;
}

.nav-item {
    list-style: none;
}

.nav-main {
    color: #5c5c5c;
}

.nav-main :hover {
    color: black;
}

.nav-1 {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    border: none;
}

.dropdown-menu li a:hover {
    background-color: rgba(29, 25, 44, 0.5);
    color: white;
}

.slider {
    background: url(slider-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0%;
    padding: 200px 0;
    position: relative;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1 {
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 10px;
    text-align: center;
}

.text p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.btn-main {
    background: #655E7A;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
}

.text-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-1 h1 {
    color: black;
}

.txt {
    color: #666666;
    font-style: italic;
}

.txt-1 {
    color: #666666;
}

.slider-1 {
    background: url(featue-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0%;
    padding: 200px 0;
    position: relative;
}

.txt-2 h3 {
    color: black;
}

.txt-2 p {
    color: #666666;
}

.txt-3 {
    height: 45px;
    width: 125px;
    background-color: #655E7A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 575px) {
    .slider-1 {
        display: none;
    }
}

.text-3 h1 {
    color: black;
}

.text-3 p {
    color: #666666;
    font-style: italic;
}

.services i {
    font-size: 45px;
    color: #655E7A;
}

.services h5 {
    color: #655E7A;
}

.services p {
    color: #666666;
    font-size: 14px;
}

.services-1 i {
    font-size: 45px;
    color: #655E7A;
}

.services-1 h5 {
    color: #655E7A;
}

.services-1 p {
    color: #666666;
    font-size: 14px;
}

.slider-2 {
    background: url(call-to-action-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0%;
    padding: 200px 0;
    position: relative;
}

.txt-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-4 h2 {
    color: black;
}

.txt-4 p {
    color: black;
}

.txt-5 {
    height: 50px;
    width: 250px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-5:hover {
    background-color: #655E7A;
    color: white;
}